body {
	width: 960px;
	margin: auto;
	
}


.style {
	width: 600px;
	height: 350px;
	margin: auto;
	position: absolute;
}
.style img{
	width: 100%;
	height: 100%;
	position: absolute
}

.list li{
	list-style-type: none;
	display: inline-block;
	padding: 10px;
	width: 4px;
	height: 5px;
	margin-top: 360px;
	padding-top: 3px
}
.widget {
	border: solid 1px #000;
	background-color: azure;
}
.tabs {
	width: 400px;
	height: auto;
	margin: 0;
	padding: 0;
	float: left;
	margin-right: 15px;
}

#container li{
		display: inline-block;
		list-style-type: none;
		padding: 10px 15px;
	}

li.current{
		background: #ededed;
		color: #222;
	}

.content{
	display: none;
	background: #ededed;
	padding: 15px;
}

.content.current{
	display: inherit;
}
.menu {
	padding: 0;
	margin:0
}


#accordion {
	width: 400px;
	float: left;
}
.cont {
	display: none;
}
.heading{
	background-color: teal;
	background-image: url(/images/icon_plus_grey.gif);
	background-position: left;
	background-repeat: no-repeat;
	color: #fff;
	border: solid 1px #ccc;
	border-radius: 7px;
	padding: 5px;
	padding-left: 20px
}
.active{
	background-color: azure;
	background-image: url(/images/Minus.png);
	background-position: left;
	background-repeat: no-repeat;
	color: teal;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	padding-left: 20px
}
